* {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
}

body{
  background: #262a2f;
  color: #333;
}



.row {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-left: -45px;
}


.header {
  z-index: 0.2;
  position: relative;
  vertical-align: center;
  width: 20%;
  margin: 50px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  margin-bottom: 0px;
}

form, .content {
  width: 50%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: rgba(255,255,255,0.9);
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 40px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #782321; 
  color: #b66665; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  margin-left: 20px;

}
.btn:hover {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
  background-color: #0062cc;
}
.btn-primary {
  color: #fff;
  margin-left: 20px;
  background-color: #007bff;
  border-color: #007bff;

}

body {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Corpus_Christi_College_New_Court%2C_Cambridge%2C_UK_-_Diliff.jpg/1920px-Corpus_Christi_College_New_Court%2C_Cambridge%2C_UK_-_Diliff.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; /* Make the background fixed */
  height: 100vh; 
  margin: 0;
  font-family: 'Arial', sans-serif;
}
  /* Add custom styles here */
  .filter-section {
      display: none; /* Hide the filter section by default */
      margin-top: 20px;
  }
  
body {
margin: 0;
padding: 0;
font-family: 'Arial', sans-serif;
}

.alert {
padding: 15px;
background-color: #f9f9f9;
color: #333;
border: 1px solid #ddd;
border-radius: 4px;
margin-bottom: 20px;
margin-top: 50px;
background: rgba(231, 225, 40, 0.8);

}

.bg-light {
background-color: #d1ecf1;

}
.alert-success {
background-color: #d4edda;
border-color: #c3e6cb;
}

.alert-info {
background-color: #d1ecf1;
border-color: #bee5eb;
}

.card {
background: rgba(255, 255, 255, 0.7); 
}

form {
width: 21%;
padding: 100px 20px 20px 10px;
}

input {
width: 70%;
height: 50px;
background: transparent;
border: 0;
outline: 0;
font-size: 18px;
color: #333;
margin-left: 40px;
}

.row {
display: flex;
align-items: center;
padding: 10px 20px;
margin-left: -40px;
margin-top: -70;
}

button {
background: transparent;
border: 0px;
outline: 0px;
margin-left: 20px;
}

.form-check-label {
vertical-align: middle; 
margin-left: 5px; 
margin-top: 18px;
}

.form-control {
width: 90%;
border: 2px;
border-color: black;
}

button .fa-solid {
width: 25px;
color: #555;
font-size: 22px;
cursor: pointer;
margin-left: 0px;
}

.result-box ul {
border-top: 1px solid #999;
padding: 15px 10px;
}

.result-box ul li {
list-style: none;
border-radius: 3px;
padding: 15px 10px;
}
.result-box ul li:hover {
background: #e9f3ff;
}
.result-box {
max-height: 300px;
overflow-y: scroll;
}

.notification-container {
margin-top: auto;
padding: 10px;
right: 0px;
position: fixed;
bottom: 0px;

}

.alert {
margin-bottom: 10px; /* Space between alerts */
}

.card-light-gray {
background-color: #9baead; /* Light gray background */
}

.card-alternate-color {
background-color: #fbe9d0; /* Change to desired alternate color, e.g., Alice Blue */
}