* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%; /* Ensure full height */
}

body {
  font-family: 'Arial', sans-serif;
}

.background-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Corpus_Christi_College_New_Court%2C_Cambridge%2C_UK_-_Diliff.jpg/1920px-Corpus_Christi_College_New_Court%2C_Cambridge%2C_UK_-_Diliff.jpg');
  background-attachment: fixed; /* Make the background fixed */
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the background image */
  height: 100vh; /* Full height */
}

.container {
  border-radius: 10px; /* Rounded corners for container */
  padding: 20px; /* Padding inside the container */
}

.card {
  border-radius: 10px; /* Rounded corners for card */
}

.card-body {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white for card body */
}

.card-title {
  font-size: 24px; /* Font size for card title */
}

.list-group-item {
  font-size: 16px; /* Font size for list items */
}